<h1 class="heading">Recurring Notifications </h1>
<mat-selection-list #terms1>
  <mat-list-option *ngFor="let notif of notifications" (selectedChange) = "onSelect($event, notif)" >
    "{{notif.notification}}" - every {{notif.frequency}}s
  </mat-list-option>
</mat-selection-list>
<div class="flex-spacer"></div>

<p>
  <button mat-raised-button color="primary" class="remove-button" (click)="removeNotifications()"> {{'Remove selected'}}</button>
</p>
<div class="flex-spacer"></div>
<form #formDirective="ngForm" [formGroup]="notificationForm" (ngSubmit)="submitNotification(formDirective)">
  <mat-form-field class="wider-input-field" appearance="outline">
    <mat-label>{{'Add notification'}} </mat-label>
    <input type="text" matInput  formControlName="notification" required>
  </mat-form-field>
  <mat-form-field class="wider-input-field" appearance="outline">
    <mat-label>{{'Frequency(in seconds)'}} </mat-label>
    <input type="number" matInput  formControlName="frequency" required>
  </mat-form-field>

  <div class="button">
    <button type="submit" mat-raised-button color="primary" [disabled]="notificationForm.invalid"  >{{'Add'}}</button>
  </div>
</form>
