<h1 class="heading">Chat filters </h1>
<mat-selection-list #terms1>
  <mat-list-option *ngFor="let term of terms" (selectedChange) = "onSelect($event, term)" >
    {{term.term}}
  </mat-list-option>
</mat-selection-list>
<div class="flex-spacer"></div>
<p>
  Options selected: {{getSelectedFilters().length}}
</p>

<p>
  <button mat-raised-button color="primary" class="remove-button" (click)="removeFilters()"> {{'Remove selected'}}</button>
</p>
<div class="flex-spacer"></div>
<form #formDirective="ngForm" [formGroup]="filterForm" (ngSubmit)="submitTerm(formDirective)">
  <mat-form-field class="wider-input-field" appearance="outline">
    <mat-label>{{'Define term'}} </mat-label>
    <input type="text" matInput  formControlName="term" required>
  </mat-form-field>
  <div class="button">
    <button type="submit" mat-raised-button color="primary" [disabled]="filterForm.invalid"  >{{'Add'}}</button>
  </div>
</form>
