#tv {
  margin-left: 17px;
  margin-top: 10px;
  position: relative;
  width:80%;
  height: 90%;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: white;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  transition: all .4s ease;
}

