/* You can add global styles to this file, and also import other style files */

html { box-sizing: border-box; font-size: 10px; }
*, *:before, *:after { box-sizing: inherit; }
body, ul, li  { margin: 0; padding: 0; }
li { list-style: none; }
p, h1, h2, h3, h4, h5, h6 { margin-top: 0; }
a { text-decoration: none; }

// some basic page styles
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #e6e6e6;
}
