<div class="container">

  <div class="grid">

    <div class="col col-4">
      <div class="grid-item">
        <img src="https://unsplash.it/640/360" alt="">
        <div class="grid-item-content">
          <ul class="meta">
            <li><a href="#" title="">Category</a></li>
            <li>July 12, 2015</li>
          </ul>
          <h1 class="heading">Heading Longer - Lorem ipsum dolor sit amet. </h1>
          <div class="flex-spacer"></div>
          <ul class="meta meta-bottom">
            <li aria-label="Liked"><i class="icon ion-ios-chatbubble" aria-hidden="true"></i> 23</li>
            <li aria-label="Shared"><i class="icon ion-android-share-alt" aria-hidden="true"></i> 145</li>
            <li class="flex-spacer"></li>
            <li><a href="#" title="">Read more <i class="icon ion-ios-arrow-forward" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col col-4">
      <div class="grid-item">
        <img src="https://unsplash.it/640/360" alt="">
        <div class="grid-item-content">
          <ul class="meta">
            <li><a href="#" title="">Category</a></li>
            <li>July 12, 2015</li>
          </ul>
          <h1 class="heading">Heading Longer - Lorem ipsum dolor sit amet. </h1>
          <div class="flex-spacer"></div>
          <ul class="meta meta-bottom">
            <li aria-label="Liked"><i class="icon ion-ios-chatbubble" aria-hidden="true"></i> 23</li>
            <li aria-label="Shared"><i class="icon ion-android-share-alt" aria-hidden="true"></i> 145</li>
            <li class="flex-spacer"></li>
            <li><a href="#" title="">Read more <i class="icon ion-ios-arrow-forward" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col col-4">
      <div class="grid-item">
        <img src="https://unsplash.it/640/360" alt="">
        <div class="grid-item-content">
          <ul class="meta">
            <li><a href="#" title="">Category</a></li>
            <li>July 12, 2015</li>
          </ul>
          <h1 class="heading">Heading</h1>
          <div class="flex-spacer"></div>
          <ul class="meta meta-bottom">
            <li aria-label="Liked"><i class="icon ion-ios-chatbubble" aria-hidden="true"></i> 23</li>
            <li aria-label="Shared"><i class="icon ion-android-share-alt" aria-hidden="true"></i> 145</li>
            <li class="flex-spacer"></li>
            <li><a href="#" title="">Read more <i class="icon ion-ios-arrow-forward" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col col-6">
      <div class="grid-item">
        <img src="https://unsplash.it/640/360" alt="">
        <div class="grid-item-content">
          <ul class="meta">
            <li><a href="#" title="">Category</a></li>
            <li>July 12, 2015</li>
          </ul>
          <h1 class="heading">Heading - Lorem ipsum dolor sit amet. </h1>
          <div class="flex-spacer"></div>
          <ul class="meta meta-bottom">
            <li aria-label="Liked"><i class="icon ion-ios-chatbubble" aria-hidden="true"></i> 23</li>
            <li aria-label="Shared"><i class="icon ion-android-share-alt" aria-hidden="true"></i> 145</li>
            <li class="flex-spacer"></li>
            <li><a href="#" title="">Read more <i class="icon ion-ios-arrow-forward" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col col-6">
      <div class="grid-item">
        <img src="https://unsplash.it/640/360" alt="">
        <div class="grid-item-content">
          <ul class="meta">
            <li><a href="#" title="">Category</a></li>
            <li>July 12, 2015</li>
          </ul>
          <h1 class="heading">Heading Longer - Lorem ipsum dolor sit amet. Etiam fermentum turpis nunc, eget interdum ipsum. </h1>
          <div class="flex-spacer"></div>
          <ul class="meta meta-bottom">
            <li aria-label="Liked"><i class="icon ion-ios-chatbubble" aria-hidden="true"></i> 23</li>
            <li aria-label="Shared"><i class="icon ion-android-share-alt" aria-hidden="true"></i> 145</li>
            <li class="flex-spacer"></li>
            <li><a href="#" title="">Read more <i class="icon ion-ios-arrow-forward" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
