<div class="container">

  <div class="grid">

    <div class="col col-4">
      <div class="grid-item">
        <div class="grid-item-content">
          <app-filter-component></app-filter-component>
        </div>
      </div>
    </div>

    <div class="col col-4">
      <div class="grid-item">
        <div class="grid-item-content">
          <app-whitelist-component></app-whitelist-component>
        </div>
      </div>
    </div>

    <div class="col col-4">
      <div class="grid-item">
        <div class="grid-item-content">
          <app-betting-component></app-betting-component>
          <div class="flex-spacer"></div>
        </div>
      </div>
    </div>

    <div class="col col-4">
      <div class="grid-item">
        <img src="https://unsplash.it/640/360" alt="">
        <div class="grid-item-content">
          <h1>Recurring Notifications Constructor</h1>
          <ul class="meta">
            <li>In progress...</li>
          </ul>
          <div class="flex-spacer"></div>
        </div>
      </div>
    </div>

    <div class="col col-4">
      <div class="grid-item">
        <img src="https://unsplash.it/640/360" alt="">
        <div class="grid-item-content">
          <h1>Custom command Editor</h1>
          <ul class="meta">
            <li>In progress...</li>
          </ul>
          <div class="flex-spacer"></div>
        </div>
      </div>
    </div>

  </div>

</div>
